
td, th {
    border: 1px gray solid;
    padding: 20px 5px;
}
table{
    border-collapse: collapse; // collapse borders;
    text-align: center;
    width: 100%;
    margin: auto;

}

th {
    background-color: yellow;
    color: blue;
}

.name-table{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    position: relative;
    top: 100px;
}

.main-nav{
    background-color: aquamarine;
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 1;

}

.main-nav__list{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;


}
.main-nav__list-element{
    display: inline-block;
    width: 25%;
    font-size: 2em;


}
.main-nav__list-element:hover{
    color: yellow;
    background-color: chartreuse;
    transition: color 2s, background-color 2s;

}

.about {
    margin: auto;
    text-align: justify;
    width: 80%;
}

.section{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.article{
    width: 49%;
    float: left;
    background-color: yellow;
    border: 1px green solid;
    padding: 0;
    margin: auto;

}

.section::after{ /* Remmember about two "::" */
    content: "";
    clear: both;
    display: table;
}