a{
    text-decoration: none;
}
td, th {
    border: 1px gray solid;
    padding: 20px 5px;
}
table{
    border-collapse: collapse; // collapse borders;
    text-align: center;
    width: 100%;
    margin: auto;

}

th {
    background-color: #19ff5e;
    color: #000000;
}

.name-table{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    position: relative;
    top: 100px;
}

.main-nav{
    background-color: #19ff5e;
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 1;

}

.main-nav__list{
    color: black;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* flex in parent class */
    justify-content: space-around;


}
.main-nav__list-element{
  /*  display: inline-block; */

    font-size: 2em;



}
.main-nav__list-element:hover{
    color: yellow;
    background-color: chartreuse;
    transition: color 2s, background-color 2s;

}

.about {
    margin: auto;
    text-align: justify;
    width: 80%;
}

.about-table{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}
.about-table__article{
    width: 49%;
    background-color: #7eff26;
    border: 1px green solid;
    padding: 0;
    margin-right: 0;
    margin-left: 0;


    /* align in flex conteiner */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.about-table::after{ /* Remmember about two "::" */
    content: "";
    clear: both;
    display: table;
}